<div>
    <div>
      <head>
        <style>

          a:link, a:visited {
            background-color: rgb(30, 131, 114);
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
          }
          a:hover, a:active {
            background-color: rgb(30, 131, 114);
  
          }
        </style>
      </head> 

      <h1 align="center">Form Submission Page</h1>
      <h3 align="center">form id is: {{formid}} </h3>
      <table align="center" >
        <tr>
          <th *ngFor= "let oneField of fields">{{oneField.label}}</th>
        </tr>
        <tr *ngFor="let oneUser of users">
            <td *ngFor= "let oneInput of oneUser.inputs">{{oneInput}}</td> 
          </tr>     
     </table>
     <br><br>
<a href="/Forms" target="_self"  align="center">back to forms list page </a>

    </div>
  </div>


  